/*
    -----LEGEND-----
-Header
-Footer
-Other
*/


/* Header */

header {
    z-index: 100;
    background-color: #99e6ff;
    width: 100%;
    height: 35rem;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    float: left;
    clear: both;
    transition: height 200ms, background 200ms;
}

header.tiny {
    height: 9rem;
}

#spacer {
    width: 100%;
    height: 35rem;
}

#spacer.tiny {
    height: 9rem;
}

#hd-top {
    justify-content: space-between;
    align-items: center;
}

#logo-big {
    width: 70vh;
    height: 35vh;
    align-self: center;
    background-image: url("../resources/template/logo_CZ.png");
    background-size: auto 35vh;
    background-position: center;
    background-repeat: no-repeat;
}

#logo-left {
    width: 20vh;
    height: 10vh;
    background-image: url("../resources/template/logo_CZ.png");
    background-size: auto 10vh;
    background-position: center;
    background-repeat: no-repeat;
}

header div nav a {
    font-size: 1.7rem;
}

header.tiny div nav a {
    font-size: 1.5rem;
}

#drop-btn {
    font-size: 1.7rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-radius: 2px;
}

header.tiny div nav #drop-btn {
    font-size: 1.5rem;
}

#drop-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

div#hd-dropdown {
    position: relative;
    display: inline-block;
}

div#hd-dropdown div {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 101;
}

div#hd-dropdown div a {
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header.tiny div nav div#hd-dropdown div a {
    font-size: 1.5rem;
} 

div#hd-dropdown div a:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

div#hd-dropdown:hover div {
    display: block;
}

#hd-cont {
    display: none;
    max-width: 75vw;
    margin-bottom: 0;
    margin-right: 12.5vw;
    margin-left: 12.5vw;
    align-items: center;
    justify-content: space-between;
}

header.tiny div#hd-cont {
    display: flex;
}

header div nav {
    align-items: center;
}

/* Footer */

footer {
    position: relative;
    width: 100%;
    height: 12vh;
    bottom: 0;   
}

#upper-section {
    min-height: 88vh;
    align-items: stretch;
    justify-content: flex-start;
}

#ft-cont {
    position: absolute;
    width: 75vw;
    margin-right: 12.5vw;
    margin-left: 12.5vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    justify-content: space-between;
}

#ft-sponsors {
    justify-content: space-between;
}

#ft-sponsors a img {
    max-height: 7vh;
}

#ft-social {
    align-items: center;     
}

#ft-social a img {
    max-height: 4vh;
}