.map {
    min-height: 25rem;
}

main section#contacts {
    display: flex;
}

main section#contacts div {
    display: flex;
}

@media (min-width: 768px) {
    main section#contacts div:nth-of-type(2) {margin-right: 2rem; margin-left: 2rem; margin-top: 0; margin-bottom: 0;}
}

@media (max-width: 767px) {
    main section#contacts div {margin-right: 0; margin-left: 0; margin-top: 1rem; margin-bottom: 1rem;}
}

main section#contacts div div img {
    margin-bottom: 2rem;
}

#email h2 {
    flex: 1;
    align-self: center;
}

#contact_form {
    flex: 1;
}

#send-btn {
    align-self: center;
    background-color: transparent;
    border: none;
    border-radius: 0.2rem;
    transition: background 200ms;
    color: #000;
}

#send-btn:hover {
    background-color: rgba(0, 180, 241, 0.4);
}

.form-title {
    font-size: 1.3rem;
}

.form-textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
}

@media (max-width: 767px) {
    main section#contacts div div img {width: 85vw;}
    main section#contacts div div div div.map {height: 30vh;}
}