main section#completed-research div p img {
    width: calc(25vw - 2rem);    
    height: calc(25vw - 2rem);
}

main section#completed-research div:nth-child(odd) p img {
    float: left;
    margin-right: 2rem;
}

main section#completed-research div:nth-child(even) p img {
    float: right;
    margin-left: 2rem;
}