main section#grants div h1 {
    margin-bottom: 2rem;
    align-self: center;
}

#grant-container {
    height: 0;
    transition: height 1000;
}

#grant-container.down {
    height: unset;
}

#grant-container div {
    display: none;
}

#grant-container.down div {
    display: flex;
}

#grant-container div:nth-child(3n + 1):hover {
    background-color: rgba(99, 80, 152, 0.4);
    transition: background 700ms; 
}

#grant-container div:nth-child(3n + 2):hover {
    background-color: rgba(0, 180, 241, 0.4);
    transition: background 700ms; 
}

#grant-container div:nth-child(3n):hover {
    background-color: rgba(112, 32, 127, 0.4);
    transition: background 700ms;
}

main section#grants div div button {
    height: 4rem;
    width: 30rem;
    align-self: center;
    background-color: transparent;
    border: none;
    border-radius: 2px;
}

main section#grants div div button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

main section#grants div div button:focus {
    outline: none;
}

main section#grants div div div {
    justify-content: center;
    padding-top: 2rem;
}

main section#grants div div div div {
    margin-bottom: 2rem;
    min-height: 12rem;
    max-width: 31rem;
    flex-basis: 31rem;
    text-decoration: none;
    color: #000;
}

main section#grants div div div div:hover {
    text-decoration: none;
    color: #000;
}

main section#grants div div div div:nth-of-type(3n + 2) {
    margin-right: 2rem;
    margin-left: 2rem;
}

main section#grants div div div div div {
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

main section#grants div div div div div p {
    text-align: center;
}