main section#ongoing-research div p a {
    color: rgba(0, 138, 198, 0.5);
    text-decoration: none;
    border-radius: 2px;
}

main section#ongoing-research div p a:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.1);
}

main section#ongoing-research div p img {
    width: 29rem;    
    height: 29rem;
}

main section#ongoing-research div:nth-child(odd) p img {
    float: left;
    margin-right: 2rem;
}

main section#ongoing-research div:nth-child(even) p img {
    float: right;
    margin-left: 2rem;
}