main section#top div {
    justify-content: flex-start;
    align-items: center;
}

main section#top div img {
    max-height: 25rem;
    float: left;
}

main section#top div p {
    padding-left: 2rem;
}

main section#cubes a div {
    color: #000;
    text-decoration: none;
    min-height: 35vh;
    align-items: center;
    justify-content: space-around;
}

main section#cubes a:hover div#purple {
    background-color: rgba(112, 32, 127, 0.4);
    transition: background 700ms;
}

main section#cubes a:hover div#blue {
    background-color: rgba(0, 180, 241, 0.4);
    transition: background 700ms;    
}

main section#cubes a:hover div#darkpurple {
    background-color: rgba(99, 80, 152, 0.4);
    transition: background 700ms;
}

main section#cubes a:hover {
    color: #000;
    text-decoration: none;
}

main section#cubes a div h3 {
    flex: 1;
}

main section#cubes a div p {
    text-align: center;
    margin: 0;
    flex: 1;
}

main section#articles div#article-container{
    max-width: calc(50vw - 2rem);
}

main section#articles div div #article-iframe {
    height: calc(50vw/16*9);
    border: none;
}

main section#articles div#fb-container {
    max-height: 40vh;
    flex-basis: 25vw;
}